openapi: 3.0.3
info:
  title: Omni Keywords Finder API
  description: |
    API completa para o sistema Omni Keywords Finder - uma plataforma avançada de análise e descoberta de palavras-chave.
    
    ## Funcionalidades Principais
    - Coleta inteligente de dados de múltiplas fontes
    - Processamento semântico avançado
    - Análise de tendências e predições
    - Sistema de feedback e gamificação
    - Integrações enterprise
    
    ## Autenticação
    Esta API utiliza autenticação JWT Bearer Token.
    
    ## Rate Limiting
    - 1000 requests por hora por usuário
    - 100 requests por minuto por endpoint
    
    ## Suporte
    - Email: support@omnikeywordsfinder.com
    - Documentação: https://docs.omnikeywordsfinder.com
    - Status: https://status.omnikeywordsfinder.com
  version: 1.0.0
  contact:
    name: Omni Keywords Finder Support
    email: support@omnikeywordsfinder.com
    url: https://omnikeywordsfinder.com/support
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.omnikeywordsfinder.com/v1
    description: Production server
  - url: https://staging-api.omnikeywordsfinder.com/v1
    description: Staging server
  - url: http://localhost:8000/v1
    description: Local development server

security:
  - bearerAuth: []

paths:
  /auth/login:
    post:
      tags:
        - Authentication
      summary: Login do usuário
      description: Autentica o usuário e retorna token JWT
      operationId: loginUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                  description: Email do usuário
                  example: "user@example.com"
                password:
                  type: string
                  format: password
                  description: Senha do usuário
                  minLength: 8
                  example: "password123"
      responses:
        '200':
          description: Login realizado com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    description: Token JWT para autenticação
                    example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                  token_type:
                    type: string
                    example: "bearer"
                  expires_in:
                    type: integer
                    description: Tempo de expiração em segundos
                    example: 3600
                  user:
                    $ref: '#/components/schemas/User'
        '401':
          description: Credenciais inválidas
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Dados de entrada inválidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'

  /auth/register:
    post:
      tags:
        - Authentication
      summary: Registro de novo usuário
      description: Cria uma nova conta de usuário
      operationId: registerUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
                - name
              properties:
                email:
                  type: string
                  format: email
                  description: Email do usuário
                  example: "newuser@example.com"
                password:
                  type: string
                  format: password
                  description: Senha do usuário
                  minLength: 8
                  example: "password123"
                name:
                  type: string
                  description: Nome completo do usuário
                  example: "João Silva"
                company:
                  type: string
                  description: Nome da empresa (opcional)
                  example: "Minha Empresa LTDA"
      responses:
        '201':
          description: Usuário criado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '409':
          description: Email já cadastrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Dados de entrada inválidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'

  /keywords/search:
    post:
      tags:
        - Keywords
      summary: Busca de palavras-chave
      description: Realiza busca avançada de palavras-chave com filtros e análise semântica
      operationId: searchKeywords
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - query
              properties:
                query:
                  type: string
                  description: Termo de busca principal
                  example: "marketing digital"
                filters:
                  type: object
                  properties:
                    language:
                      type: string
                      enum: [pt-BR, en-US, es-ES]
                      description: Idioma da busca
                      example: "pt-BR"
                    region:
                      type: string
                      description: Região geográfica
                      example: "BR"
                    difficulty:
                      type: string
                      enum: [easy, medium, hard]
                      description: Nível de dificuldade
                      example: "medium"
                    volume_range:
                      type: object
                      properties:
                        min:
                          type: integer
                          description: Volume mínimo
                          example: 1000
                        max:
                          type: integer
                          description: Volume máximo
                          example: 10000
                semantic_analysis:
                  type: boolean
                  description: Ativar análise semântica
                  default: true
                include_related:
                  type: boolean
                  description: Incluir palavras-chave relacionadas
                  default: true
                limit:
                  type: integer
                  description: Limite de resultados
                  minimum: 1
                  maximum: 100
                  default: 20
      responses:
        '200':
          description: Busca realizada com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  keywords:
                    type: array
                    items:
                      $ref: '#/components/schemas/Keyword'
                  total_count:
                    type: integer
                    description: Total de resultados encontrados
                  search_metadata:
                    $ref: '#/components/schemas/SearchMetadata'
        '400':
          description: Parâmetros de busca inválidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit excedido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /keywords/analyze:
    post:
      tags:
        - Keywords
      summary: Análise detalhada de palavra-chave
      description: Realiza análise completa de uma palavra-chave específica
      operationId: analyzeKeyword
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - keyword
              properties:
                keyword:
                  type: string
                  description: Palavra-chave para análise
                  example: "marketing digital"
                include_competition:
                  type: boolean
                  description: Incluir análise de competição
                  default: true
                include_trends:
                  type: boolean
                  description: Incluir análise de tendências
                  default: true
                include_suggestions:
                  type: boolean
                  description: Incluir sugestões relacionadas
                  default: true
      responses:
        '200':
          description: Análise realizada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeywordAnalysis'
        '400':
          description: Palavra-chave inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /collections:
    get:
      tags:
        - Collections
      summary: Listar coleções do usuário
      description: Retorna todas as coleções de palavras-chave do usuário
      operationId: listCollections
      security:
        - bearerAuth: []
      parameters:
        - name: page
          in: query
          description: Número da página
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: limit
          in: query
          description: Limite de resultados por página
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: Lista de coleções retornada com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  collections:
                    type: array
                    items:
                      $ref: '#/components/schemas/Collection'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /collections:
    post:
      tags:
        - Collections
      summary: Criar nova coleção
      description: Cria uma nova coleção de palavras-chave
      operationId: createCollection
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                  description: Nome da coleção
                  example: "Marketing Digital 2024"
                description:
                  type: string
                  description: Descrição da coleção
                  example: "Palavras-chave para campanhas de marketing digital"
                tags:
                  type: array
                  items:
                    type: string
                  description: Tags para categorização
                  example: ["marketing", "digital", "2024"]
                is_public:
                  type: boolean
                  description: Se a coleção é pública
                  default: false
      responses:
        '201':
          description: Coleção criada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection'
        '400':
          description: Dados inválidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /analytics/overview:
    get:
      tags:
        - Analytics
      summary: Visão geral de analytics
      description: Retorna métricas gerais de uso e performance
      operationId: getAnalyticsOverview
      security:
        - bearerAuth: []
      parameters:
        - name: period
          in: query
          description: Período de análise
          required: false
          schema:
            type: string
            enum: [day, week, month, quarter, year]
            default: month
        - name: start_date
          in: query
          description: Data de início (YYYY-MM-DD)
          required: false
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          description: Data de fim (YYYY-MM-DD)
          required: false
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Analytics retornados com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsOverview'
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /feedback:
    post:
      tags:
        - Feedback
      summary: Enviar feedback
      description: Envia feedback do usuário sobre o sistema
      operationId: submitFeedback
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - type
                - message
              properties:
                type:
                  type: string
                  enum: [bug, feature, general, praise]
                  description: Tipo de feedback
                  example: "feature"
                message:
                  type: string
                  description: Mensagem do feedback
                  minLength: 10
                  maxLength: 1000
                  example: "Gostaria de ver mais opções de filtros na busca de palavras-chave"
                rating:
                  type: integer
                  description: Avaliação de 1 a 5
                  minimum: 1
                  maximum: 5
                  example: 4
                category:
                  type: string
                  description: Categoria do feedback
                  example: "search"
                contact_email:
                  type: string
                  format: email
                  description: Email para contato (opcional)
                  example: "user@example.com"
      responses:
        '201':
          description: Feedback enviado com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: ID do feedback
                    example: "fb_123456789"
                  message:
                    type: string
                    example: "Feedback recebido com sucesso"
        '400':
          description: Dados inválidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Token JWT obtido através do endpoint /auth/login

  schemas:
    User:
      type: object
      properties:
        id:
          type: string
          description: ID único do usuário
          example: "user_123456789"
        email:
          type: string
          format: email
          description: Email do usuário
          example: "user@example.com"
        name:
          type: string
          description: Nome completo do usuário
          example: "João Silva"
        company:
          type: string
          description: Nome da empresa
          example: "Minha Empresa LTDA"
        created_at:
          type: string
          format: date-time
          description: Data de criação da conta
          example: "2024-01-15T10:30:00Z"
        updated_at:
          type: string
          format: date-time
          description: Data da última atualização
          example: "2024-01-20T14:45:00Z"
        subscription:
          $ref: '#/components/schemas/Subscription'
        preferences:
          $ref: '#/components/schemas/UserPreferences'

    Subscription:
      type: object
      properties:
        plan:
          type: string
          enum: [free, basic, pro, enterprise]
          description: Plano de assinatura
          example: "pro"
        status:
          type: string
          enum: [active, inactive, suspended, cancelled]
          description: Status da assinatura
          example: "active"
        start_date:
          type: string
          format: date-time
          description: Data de início da assinatura
          example: "2024-01-01T00:00:00Z"
        end_date:
          type: string
          format: date-time
          description: Data de fim da assinatura
          example: "2024-12-31T23:59:59Z"
        features:
          type: array
          items:
            type: string
          description: Funcionalidades disponíveis
          example: ["unlimited_searches", "advanced_analytics", "api_access"]

    UserPreferences:
      type: object
      properties:
        language:
          type: string
          enum: [pt-BR, en-US, es-ES]
          description: Idioma preferido
          example: "pt-BR"
        timezone:
          type: string
          description: Fuso horário
          example: "America/Sao_Paulo"
        notifications:
          type: object
          properties:
            email:
              type: boolean
              description: Notificações por email
              example: true
            push:
              type: boolean
              description: Notificações push
              example: false
            sms:
              type: boolean
              description: Notificações SMS
              example: false

    Keyword:
      type: object
      properties:
        id:
          type: string
          description: ID único da palavra-chave
          example: "kw_123456789"
        keyword:
          type: string
          description: Termo da palavra-chave
          example: "marketing digital"
        search_volume:
          type: integer
          description: Volume de busca mensal
          example: 5400
        difficulty:
          type: string
          enum: [easy, medium, hard]
          description: Nível de dificuldade
          example: "medium"
        cpc:
          type: number
          format: float
          description: Custo por clique (CPC)
          example: 2.45
        competition:
          type: number
          format: float
          description: Nível de competição (0-1)
          example: 0.75
        trend:
          type: string
          enum: [rising, stable, declining]
          description: Tendência da palavra-chave
          example: "rising"
        related_keywords:
          type: array
          items:
            type: string
          description: Palavras-chave relacionadas
          example: ["digital marketing", "marketing online", "marketing na internet"]
        created_at:
          type: string
          format: date-time
          description: Data de criação
          example: "2024-01-15T10:30:00Z"

    KeywordAnalysis:
      type: object
      properties:
        keyword:
          $ref: '#/components/schemas/Keyword'
        competition_analysis:
          type: object
          properties:
            top_competitors:
              type: array
              items:
                type: object
                properties:
                  domain:
                    type: string
                    example: "example.com"
                  authority:
                    type: integer
                    example: 85
                  backlinks:
                    type: integer
                    example: 15000
            difficulty_score:
              type: number
              format: float
              example: 0.75
        trend_analysis:
          type: object
          properties:
            historical_data:
              type: array
              items:
                type: object
                properties:
                  date:
                    type: string
                    format: date
                    example: "2024-01-01"
                  volume:
                    type: integer
                    example: 5000
            forecast:
              type: object
              properties:
                next_month:
                  type: integer
                  example: 5800
                next_quarter:
                  type: integer
                  example: 6200
        suggestions:
          type: array
          items:
            $ref: '#/components/schemas/Keyword'
        seo_insights:
          type: object
          properties:
            content_gaps:
              type: array
              items:
                type: string
              example: ["Como fazer marketing digital", "Marketing digital para iniciantes"]
            content_opportunities:
              type: array
              items:
                type: string
              example: ["Guia completo de marketing digital", "Estratégias de marketing digital"]

    Collection:
      type: object
      properties:
        id:
          type: string
          description: ID único da coleção
          example: "col_123456789"
        name:
          type: string
          description: Nome da coleção
          example: "Marketing Digital 2024"
        description:
          type: string
          description: Descrição da coleção
          example: "Palavras-chave para campanhas de marketing digital"
        tags:
          type: array
          items:
            type: string
          description: Tags da coleção
          example: ["marketing", "digital", "2024"]
        is_public:
          type: boolean
          description: Se a coleção é pública
          example: false
        keyword_count:
          type: integer
          description: Número de palavras-chave na coleção
          example: 150
        created_at:
          type: string
          format: date-time
          description: Data de criação
          example: "2024-01-15T10:30:00Z"
        updated_at:
          type: string
          format: date-time
          description: Data da última atualização
          example: "2024-01-20T14:45:00Z"
        owner:
          $ref: '#/components/schemas/User'

    SearchMetadata:
      type: object
      properties:
        query:
          type: string
          description: Query original
          example: "marketing digital"
        filters_applied:
          type: object
          description: Filtros aplicados na busca
        processing_time:
          type: number
          format: float
          description: Tempo de processamento em segundos
          example: 0.85
        sources_used:
          type: array
          items:
            type: string
          description: Fontes de dados utilizadas
          example: ["google_ads", "google_trends", "semrush"]

    AnalyticsOverview:
      type: object
      properties:
        period:
          type: string
          description: Período analisado
          example: "month"
        searches_performed:
          type: integer
          description: Número de buscas realizadas
          example: 1250
        keywords_analyzed:
          type: integer
          description: Número de palavras-chave analisadas
          example: 3400
        collections_created:
          type: integer
          description: Número de coleções criadas
          example: 25
        api_calls:
          type: integer
          description: Número de chamadas à API
          example: 8900
        top_searched_keywords:
          type: array
          items:
            type: object
            properties:
              keyword:
                type: string
                example: "marketing digital"
              count:
                type: integer
                example: 45
        usage_trends:
          type: object
          properties:
            daily:
              type: array
              items:
                type: object
                properties:
                  date:
                    type: string
                    format: date
                    example: "2024-01-15"
                  searches:
                    type: integer
                    example: 42

    Pagination:
      type: object
      properties:
        page:
          type: integer
          description: Página atual
          example: 1
        limit:
          type: integer
          description: Limite por página
          example: 20
        total:
          type: integer
          description: Total de itens
          example: 150
        pages:
          type: integer
          description: Total de páginas
          example: 8
        has_next:
          type: boolean
          description: Se há próxima página
          example: true
        has_prev:
          type: boolean
          description: Se há página anterior
          example: false

    Error:
      type: object
      properties:
        error:
          type: string
          description: Código do erro
          example: "INVALID_CREDENTIALS"
        message:
          type: string
          description: Mensagem de erro
          example: "Credenciais inválidas"
        details:
          type: object
          description: Detalhes adicionais do erro
        timestamp:
          type: string
          format: date-time
          description: Timestamp do erro
          example: "2024-01-15T10:30:00Z"
        request_id:
          type: string
          description: ID da requisição para rastreamento
          example: "req_123456789"

    ValidationError:
      type: object
      properties:
        error:
          type: string
          example: "VALIDATION_ERROR"
        message:
          type: string
          example: "Dados de entrada inválidos"
        details:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
                description: Campo com erro
                example: "email"
              message:
                type: string
                description: Mensagem de erro do campo
                example: "Email inválido"
              code:
                type: string
                description: Código do erro
                example: "INVALID_EMAIL"
        timestamp:
          type: string
          format: date-time
          example: "2024-01-15T10:30:00Z"
        request_id:
          type: string
          example: "req_123456789"

tags:
  - name: Authentication
    description: Endpoints para autenticação e gerenciamento de usuários
  - name: Keywords
    description: Endpoints para busca e análise de palavras-chave
  - name: Collections
    description: Endpoints para gerenciamento de coleções de palavras-chave
  - name: Analytics
    description: Endpoints para análise de dados e métricas
  - name: Feedback
    description: Endpoints para envio e gerenciamento de feedback
  - name: Integrations
    description: Endpoints para integrações com sistemas externos
  - name: Webhooks
    description: Endpoints para configuração de webhooks
  - name: Admin
    description: Endpoints administrativos (requer privilégios especiais)

externalDocs:
  description: Documentação completa do Omni Keywords Finder
  url: https://docs.omnikeywordsfinder.com 